<!-- templates/myapp/post_list.html -->
{% extends "notice/base_with_navbar.html" %}

{% block content %}
<main class="site-body">
  <div class="list-group">
    {% for post in posts %}
      <a href="{% url 'post_detail' pk=post.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title }}</h5>
          <small>{{ post.created_date }}</small>
        </div>
        <p class="mb-1">{{ post.content|truncatechars:100 }}</p>
      </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
